<div id="calendar">
	<nav>
		<select ng-model="selectedMonth" ng-change="selectMonth(selectedMonth)">
			<option ng-repeat="month in months" ng-model="selectedMonth" ng-selected="month == selectedMonth"> {{ month }} </option>
		</select> 

		<select ng-model="selectedYear" ng-change="selectYear(selectedYear)">
			<option ng-repeat="year in years" ng-model="selectedYear" ng-selected="year == selectedYear"> {{ year }}
			</option>
		</select>

		<!-- <div class="dropdown" id="monthDropdown">
			<button class="btn btn-primary dropdown-toggle" id="monthButton" type="button" data-toggle="dropdown"> {{ selectedMonth }} </button>
				<ul class="dropdown-menu">
					<li ng-repeat="month in months" ng-click="selectMonth(month)"> {{ month }} </li> 
				</ul>
		</div>   -->

		<!-- <div class="dropdown" id="yearDropdown">
			<button class="btn btn-primary dropdown-toggle" id="yearButton" type="button" data-toggle="dropdown"> {{ selectedYear }} </button>
				<ul class="dropdown-menu">
					<li ng-repeat="year in years" ng-click="selectYear(year)"> {{ year }} </li>
				</ul>
		</div> -->
	</nav>

	<section> 
		<div ng-repeat="dayInfo in days" class="day" ng-class='{outOfRange: returnIfOutOfRange(dayInfo.date)}' id='day_{{ dayInfo.day }}_month_{{ dayInfo.month }}'>
			{{ dayInfo.day }}
		</div>
	</section>
</div>