<div id="calendar">
	<nav>
		<select ng-model="selectedMonth" ng-change="selectMonth(selectedMonth)" id="monthSelect">
			<option ng-repeat="month in months" ng-model="selectedMonth" ng-selected="month == selectedMonth"> {{ month }} </option>
		</select> 

		<select ng-model="selectedYear" ng-change="selectYear(selectedYear)" id="yearSelect">
			<option ng-repeat="year in years" ng-model="selectedYear" ng-selected="year == selectedYear"> {{ year }}
			</option>
		</select> 
	</nav>

	<section> 
		<div ng-repeat="dayInfo in days" class="day" ng-class='{outOfRange: returnIfOutOfRange(dayInfo.date)}' id='day_{{ dayInfo.day }}_month_{{ dayInfo.month }}'>
			{{ dayInfo.day }}
		</div>
	</section>
</div>