#calendar li:hover {
	background-color: blue;
}

#calendar .dropdown {
	display: inline-block;
}

#calendar nav {
	background-color: black;
	background-color: black;
    padding: 1em;
}

#calendar .day {
	display: inline-block;
	width: 14%;
	padding: 1em;
    font-size: 2em;
    text-align: center;
    border: 2px solid lightgrey;
}

#calendar .outOfRange {
	background-color: grey;
}
